body {
  font-family: JetBrain, monospace;
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
}

input {
  width: 60%;
  margin: 10px auto;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #0077ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #005fcc;
}

#resultado {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  font-weight: bold;
  display: none;
}

@media (max-width: 500px) {
  .container {
    margin: 10px;
    padding: 15px;
  }
  h1 {
    font-size: 22px;
  }

#gif-imc {
  display: block;
  margin: 20px auto;
  max-width: 200px;
}
}